:root {
  --white-color: #fff;
  --light-gray-3-color: #767676;
  --light-gray-2-color: #6f6f6f;
  --light-gray-color: #ddd;
  --dark-gray-color: #555;
  --very-dark-gray-color: #333;
  --primary-tint-color: #fdf2e9;
  --primary-tint-2-color: #fae5d3;
  --primary-tint-3-color: #eb984e;
  --primary-color: #e67e22;
  --primary-shade-color: #cf711f;
  --primary-shade-2-color: #45260a;
}

/* _______________________________ */
/* SECTION HEADER */
/* _______________________________ */

.header {
  height: 9.6rem;
  padding: 0 4.8rem;
  background-color: var(--primary-tint-color);

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.logo {
  height: 2.2rem;
}

/* _______________________________ */
/* SECTION NAVIGATION */
/* _______________________________ */

.main-nav-list {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--very-dark-gray-color);
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s ease-in-out;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--primary-shade-color);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  background-color: var(--primary-color);
  color: var(--white-color);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--primary-shade-color);
}

/* MOBILE */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: var(--very-dark-gray-color);
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* _______________________________ */
/* SECTION HERO */
/* _______________________________ */

.section-hero {
  background-color: var(--primary-tint-color);
  padding: 4.8rem 0 9.6rem;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.hero-image {
  width: 100%;
}

.delivered-meals {
  margin-top: 8rem;

  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.delivered-images {
  display: flex;
}

.delivered-images img {
  height: 4.8rem;
  width: 4.8rem;

  margin-right: -1.6rem;

  border: 3px solid var(--primary-tint-color);
  border-radius: 50%;
}

.delivered-images img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: var(--primary-shade-color);
  font-weight: 700;
}

/* _______________________________ */
/* SECTION FEATURED IN */
/* _______________________________ */

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/* _______________________________ */
/* SECTION HOW */
/* _______________________________ */

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: var(--light-gray-color);
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  position: absolute;
  display: block;
  border-radius: 50%;
}

.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: var(--primary-tint-color);

  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: var(--primary-tint-2-color);

  z-index: -1;
}

.step-img {
  width: 35%;
}

/* _______________________________ */
/* SECTION MEALS */
/* _______________________________ */

.section-meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.15);
}

.meal-content {
  padding: 4.8rem;
  padding-top: 3.2rem;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--very-dark-gray-color);
  border-radius: 100px;
  font-weight: 600;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--vegan {
  background-color: #94d82d;
}

.tag--paleo {
  background-color: #ffd43b;
}

.meal-title {
  font-size: 2.4rem;
  color: var(--very-dark-gray-color);
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: var(--primary-color);
}

.meal-img {
  width: 100%;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

/* _______________________________ */
/* SECTION TESTIMONIALS */
/* _______________________________ */

.section-testimonials {
  background-color: var(--primary-tint-color);
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: var(--light-gray-2-color);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-img {
  width: 100%;
  display: block;
  transition: all 0.4s ease-in-out;
}

.gallery-img:hover {
  scale: 1.1;
}

/* _______________________________ */
/* SECTION PRICING */
/* _______________________________ */

.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  border-radius: 11px;
  width: 75%;
}

.pricing-plan--starter {
  justify-self: end;
  border: 2px solid var(--primary-tint-color);
  padding: 4.6rem;
}

.pricing-plan--complete {
  background-color: var(--primary-tint-color);
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.pricing-plan--complete::after {
  content: "Best value";
  position: absolute;
  right: -18%;
  top: 6%;
  rotate: 45deg;

  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--very-dark-gray-color);
  background-color: #ffd43b;
  padding: 8px 8rem;
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: var(--primary-shade-color);
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 0.75;
  margin-bottom: 3.2rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: var(--very-dark-gray-color);
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--light-gray-2-color);
}

.plan-sign-up {
  margin-top: 4.8rem;
  text-align: center;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

.feature-icon {
  color: var(--primary-color);
  width: 3.2rem;
  height: 3.2rem;
  background-color: var(--primary-tint-color);
  padding: 1.6rem;
  border-radius: 50%;
  margin-bottom: 3.2rem;
}

.feature-title {
  font-size: 2.4rem;
  color: var(--very-dark-gray-color);
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* _______________________________ */
/* SECTION CTA */
/* _______________________________ */

.section-cta {
  padding: 4.8rem 0 12.8rem;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(
    to right bottom,
    var(--primary-tint-3-color),
    var(--primary-color)
  );
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem;
  color: var(--primary-shade-2-color);
}

.cta .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 75, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: var(--primary-tint-color);
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/* _______________________________ */
/* SECTION FOOTER */
/* _______________________________ */

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: var(--light-gray-3-color);
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--light-gray-3-color);
  transition: all 0.3s ease-in-out;
}

.footer-link:hover,
.footer-link:active {
  color: var(--dark-gray-color);
}
